/* Authors: Olumayowa Mosuro | Paulo Massao Kawakami | Rafaeatul Kabir | Shivani Sehgal */
/* DATE: August 1, 2023 */

/*Main Content Container*/
.flex-container {
    text-align: center;
    display: flex;
}

/* clear main style padding property*/
main{
    padding-top: 0;
}
/*End of Main Content Container*/

header {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    align-items: center;
}

/*Banner Section*/
#banner-container{
    margin-bottom: 1em;
    padding: 1rem;
    background-image: url("../../img/contact-us/pexels-pixabay-220072.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#banner-text{
    text-align: center;
    color: white;
    font-size: 150%;
    padding: 1em;
    text-shadow: 1px 1px 2px black;
}
/*End of Banner Section*/


/*Static Information container and Form Container*/
.flex-item-left {
    color: var(--primary-purple-darker);
    padding: 2rem;
    /* background-color: var(--primary-silver);
    background-image: linear-gradient(to bottom, var(--primary-silver), var(--body-background)); */
}


.flex-item-right {
    color: white;
    padding: 2rem;
    background-color: var(--primary-purple-darker);
    background-image: linear-gradient(to top7654esZ, var(--primary-purple-darker), var(--primary-purple-lighter));
    /* border-radius: 5px; */
    
}
/*End of Static Information container and Form Container*/


/*Form Styles*/
.form-element-container{
    margin-bottom: 1em;
}
select, input, .checkout-input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 15px;
    /* border-style: solid; */
    padding: 1em;
    border: none;
}
.flex-form-container{
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: flex-end;
    border: .5em;
}

.flex-form-element{
    width: 40% ;
    vertical-align: bottom;
}
.checkout-input:focus{
    outline-color: var(--primary-purple);
}

.form-label {
    padding: 1em 0 0 .5em;
    float: left;
}
/*End of form styles*/

/* item container and its contents' styles */
.item-container-elements{
    display: flex;
}

.item-details{
    padding: 0 0 0 1em;
}

.item-details-container{
    text-align: left;
}

.flex-image{
    max-width: 20%;
    height: min-content;
    padding: .25em;    
}

.heading{
    text-transform: capitalize;
    font-weight: bold;
    color: var(--primary-purple);
}

.general-text{
    color: var(--primary-purple-darker);
    text-align: justify;
    text-justify: inter-word;
}

.item-details p{
    text-align: justify;
    padding-right: 1em;
}

/*End of the Items list Section*/

/*totals*/
.heading-alternate{
    text-transform: capitalize;
    font-weight: bold;
}
#totals-container{
    text-align: left;
    padding: 1em 0 0 2em;
}
/*end totals*/

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media screen and (max-width: 768px){
    .flex-container {
        flex-direction: column;
    }
    .flex-item-left {
        max-width: 100%;
    }

    .flex-item-right {
        max-width: 100%;
    }

    .flex-image{
        max-width: 30%;
        height: min-content;
        padding: .25em;
        
    }
}

@media screen and (min-width: 769px){

    .flex-item-left {
        width: 60%;
    }

    .flex-item-right {
        width: 40%;
    }
    footer {
        clear:both

    }
}