/* Authors: Olumayowa Mosuro | Paulo Massao Kawakami | Rafaeatul Kabir | Shivani Sehgal */
/* DATE: August 1, 2023 */

main {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

h1 {
    display: flex;
}

h2 {
    margin: 0;
}

a {
    margin-right: 10px;
    text-decoration: none;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 40%;
}

.right {
    width: 57%;
}
/* Styles for product image container */
.product-image-container{
    text-align: center;
}
/* Styles for product image */
.product-image{
    width: 100%;
    max-width: 25rem;
    display: block;
    border-radius: 5px;
}

/* Styles for buttons container */
.buttons-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.buttons-wrapper a {
    width: 48%;
    text-align: center;
    margin: 0;
}

.buttons-wrapper a button {
    width: 100%;
    font-size: 0.75rem;
}

.primary-btn:hover {
    background-image: none;
    color: white;
}

/* Styles for product card content */
.card-content {
    text-align: left;
    padding: 0 10px;
}

.reviews {
    margin: 0 5px;
}

.price-container {
    margin: 10px 0;
}

/* Styles for owner details */
.owner {
    display: flex;
    align-items: center;
}

.owner-img {
    width: 10%;
    height: 10%;
}

/* Styles for product description */
.product-description {
    margin: 20px 0;
}

.product-description .heading {
    color: var(--primary-purple-lighter);
    font-weight: bold;
    margin: 10px 0;
}

/* Styles for product summary */
main p {
    font-size: smaller;
    text-align: justify;
}

/* Media query for tablet */
@media screen and (max-width: 769px)  {
    /* Show button in columns */
    .buttons-wrapper {
        flex-direction: column;
    }

    /* Style for buttons on tablet */
    .buttons-wrapper a {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Media query for mobile */
@media screen and (max-width: 480px) {
    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 6vw;
    }

    .product-detail-wrapper {
        flex-direction: column;
    }

    /* Full screen width for left and right container in mobile */
    .left, .right {
        width: auto;
    }
}