/* Authors: Olumayowa Mosuro | Paulo Massao Kawakami | Rafaeatul Kabir | Shivani Sehgal */
/* DATE: August 1, 2023 */

main {
    width: 90%;
    margin: 0 auto;
}

img{
    width: 100%;
    max-height: 300px;
    display: block;
}

h1 {
    display: flex;
}

h1 a {
    margin-right: 10px;
    text-decoration: none;
}

h1, h2, h3{
    text-transform: uppercase;
    color: var(--primary-purple);
}

h4 {
    margin: 10px 0 5px 0;
}

/* Product List displayed as grid */
.products {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.products a {
    text-decoration: none;
}

/* Styles for product */
.product-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
    margin: 0.6rem;
}

/* Styles for product image */
.product-image {
    border-radius: 5px;
    /* min-height: 300px; */
}

/* Styles for product description */
.product-description {
    text-align: left;
    padding: 0px 2px;
}

.product-description div {
    display: block;
}

.product-description .owner {
    display: flex;
    align-items: center;
    margin: 4px 0;
}

/* Styles for load more button */
.load-more {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.load-more div {
    width: 25%;
    text-align: center;
}

.primary-btn:hover {
    background-image: none;
    color: white;
}

/* Media query for desktop screen widths less than 1000px */
@media screen and (max-width: 1000px) {
    /* 3 products per row */
    .products {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

/* Media query for tablet */
@media screen and (max-width: 768px) {
    /* 2 products per row */
    .products {
        display: grid;
        grid-template-columns: auto auto;
    }
}

/* Media query for mobile */
@media screen and (max-width: 550px) {
    /* One product per row */
    .products {
        display: grid;
        grid-template-columns: auto;
    }

    .load-more div {
        width: 100%;
    }
}
