/* Authors: Olumayowa Mosuro | Paulo Massao Kawakami | Rafaeatul Kabir | Shivani Sehgal */
/* DATE: August 1, 2023 */

/* styles for the top 3 headers of this page */
h1, h2, h3{
    text-transform: uppercase;
    color: var(--primary-purple);
}
/*styles for the flex container and its items*/
.flex-container{
    justify-content: center;
    display: flex;
    /* flex-wrap: wrap;    */
}
.flex-content{
    padding: 1rem;
}
.flex-left{
    text-align: center;
    flex: 40%;
}
.flex-right{
    flex: 60%;
}
/*end of flex container styles*/

/* style for profile data section */
/* #profile-pic{
    max-width: 20rem;
    border-radius: 100%;
    border: 5px solid var(--primary-silver);
    margin-bottom: 1rem;
} */
#profile-pic {
    max-width: 20rem;
    border-radius: 100%;
    border: 5px solid var(--primary-silver);
    height: 20rem;
    font-size: 12rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: darkmagenta;
    font-family: serif;
    display: flex;
    margin: 1rem auto;
}
#name-section{
    text-transform: uppercase;
    color: var(--primary-purple-lighter);
    font-weight: bold;
    position: relative;
}
#name-section p{
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -1.8rem;
    font-size: 80%;
}
#user-detail{
   list-style-type: none; 
   text-align: center;
   padding: 1rem;
}
#user-detail li{
    display: flex;
    align-items: center;
    justify-content: center;
}
#user-detail li a{
    text-decoration: none;
    color: var(--primary-purple);
    font-weight: bold;
    margin-left: 5px;
}
/* end of the styles of user data */
/* style for card like container */
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
}
/*styles for elements isn the table*/

.status{
    font-size: 70%;
    padding: 3px 10px;
    color: white;
    border-radius: 5px;
}
.active{
    background-color: var(--primary-purple);
}
.due{
    background-color: var(--primary-red);
}
.completed{
    background-color: var(--primary-green);
}
.account-balance{
    font-weight: bold;
}
#income{
    color: var(--primary-green);
    padding-left: 5px;
}
#expense{
    color: var(--primary-purple);
    padding-left: 5px;
}
/* end of element styles in the table */

/* styles for both mobile and tab */
@media (min-width: 0) and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
}
/* styles for tab */
@media (min-width: 481px) and (max-width: 768px) {
    .flex-left{
        display: flex;
    }
    #profile-pic-container{
        margin-right: 1rem;
    }
}