:root{
    --primary-silver: #bdc3c7;
    --primary-purple: #8e44ad;
    --body-background: #ecf0f1;
    --primary-purple-lighter: #9b59b6;
    --primary-purple-darker: #4f1954;
}
body{
    background-color:  var(--body-background);
    font-family: "Poppins", sans-serif;
}
#logo{
    height: 5rem;
}
#navbar{
    display: flex;
    align-items: center;
    color: var(--primary-purple);
    font-weight: bold; 
    flex-direction: row;  
}
.flex-item{
    flex: 10%;
    text-align: center;
}
@media (max-width: 704px) {
    #navbar {
        flex-direction: column;
    }
}
#navbar a{
    text-decoration: none;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    text-transform: uppercase;
}
#navbar a:hover{
    background-image: url("../img/cursor-bg.png");
    background-position: center;
    background-size: cover;
}
#navbar a:active{
    color: var(--primary-purple-darker);
}
.activated{
    background-image: url("../img/cursor-bg.png");
    background-position: center;
    background-size: cover;
}
.primary-btn{
    background-color: var(--primary-purple);
    color: white;
    padding: 0.5rem 1.5rem !important;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size:1rem;
}
.primary-btn:hover{
    cursor: pointer;    
    background-color: var(--primary-purple-lighter);
    color: var(--primary-purple);
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: var(--primary-purple);
}

