/* Authors: Olumayowa Mosuro | Paulo Massao Kawakami | Rafaeatul Kabir | Shivani Sehgal */
/* DATE: August 1, 2023 */

/* declaring all the colors of the website as variables */
:root{
    --primary-silver: #bdc3c7;
    --secondary-silver: #dee1e3;
    --primary-purple: #8e44ad;
    --body-background: #ecf0f1;
    --primary-purple-lighter: #9b59b6;
    --primary-purple-darker: #4f1954;
    --primary-silver-darker: #95a5a6;
    --primary-green: #27ae60;
    --primary-red: #e74c3c;
    --dark-ash: #34495e;
}
/* style for body */
body{
    background-color:  var(--body-background);
    font-family: "Poppins", sans-serif;
}
/* styles for main section. adding a min height so that the footer always stays a bit bottom. and adding bottom margin to have margin before the footer */
main{
    min-height: 82vh;
    margin-bottom: 1rem;
}
/* style for all the section headers */
.section-header {
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-purple);
}
/* style for navbar logo */
#logo{
    height: 5rem;
}
/* style for navbar */
#navbar{
    display: flex;
    align-items: center;
    font-weight: bold; 
    flex-direction: row;
    justify-content: space-evenly;
}
.flex-item{
    text-align: center;
}


#navbar a{
    text-decoration: none;
    color: var(--primary-purple);
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    text-transform: uppercase;
}
#navbar a:hover{
    background-image: url("../img/cursor-bg.png");
    background-position: center;
    background-size: cover;
}
#navbar a:active{
    color: var(--primary-purple-darker);
}
.activated{
    background-image: url("../img/cursor-bg.png");
    background-position: center;
    background-size: cover;
    color: var(--primary-purple) !important;
}
/* end of navbar style */

/* style for primary button to use it everywhere */
.primary-btn{
    background-color: var(--primary-purple);
    color: white; /* adding important to ignore any overlapping design */
    padding: 1rem 1.5rem !important;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size:1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.primary-btn:hover{
    cursor: pointer;    
    background-color: var(--primary-purple-darker);
}
/* making the hover effect different text color only for the navbar btn */
#navbar .primary-btn{
    color: white;
}
/* making the btn color different for navbar to make the text visible */
#navbar .primary-btn:hover{
    color: var(--primary-purple); 

}

/* style for secondary button to use it everywhere */
.secondary-btn{
    background-color: white;
    color: var(--primary-purple);
    padding: 1rem 1.5rem !important;
    border-radius: 5px;
    border: 1px solid var(--primary-purple);
    font-weight: bold;
    font-size:1rem;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.secondary-btn:hover{
    background-color: var(--secondary-silver);
}
/* end of styles for buttons */

/* style for mobile specific navigation */
#mobile-nav{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--body-background);
    z-index: 1;
    visibility: hidden;
    background-color: var(--primary-purple);
}
#mobile-nav a{
    text-decoration: none;
    font-size: 3vw;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;   
}
.separator{
    border: 1px solid white;
}
/* end of mobile specific navigations */

/* styles that are used in product list page */
.border-btn{
    border: 1px solid var(--primary-purple);
    color: var(--primary-purple);
}
.rating {
    cursor: pointer;
}
.reviews {
    font-size: 0.8rem;
}
.price-container{
    color: var(--primary-purple-darker);
    line-height: 1;
}
.price {
    font-weight: bold;
    font-size: 2rem;
}
.owner .owner-details {
    padding: 4px 6px;
}
.owner-img {
    border-radius: 50%;
    width: 13%;
    height: 13%;
}
.owner-details div {
    padding: 0px;
    font-size: x-small;
}
sup {
    vertical-align: top;
}
/* end of styles that are used in product list page */

/* styles for footer section */
#copyright{
    text-align: center;
    color: var(--primary-purple);
    font-weight: bold;
}
footer ul{
    list-style-type: none;
    padding-inline-start: 0; /*to remove the default left padding*/   
}
footer .flex-container{
    background-color: var(--primary-purple-lighter);
    color: var(--primary-purple-darker);
}
footer .flex-container div{
    text-align: center;
}
footer a{
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-purple-darker);
}
footer input{
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 10px;
    border: none;
    text-align: center;
}
footer input:focus-visible{
    outline-color: var(--primary-purple);
}
footer h2{
    color: white;
}
/* end of styles for footer section */

/* styles for tab */
@media (min-width: 481px) and (max-width: 768px) {
    footer h2{
        font-size: 1rem;
    }
}
/* styles for tab and desktop */
@media only screen and (min-width: 481px) {
    #navbar{
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 1;
        background-color: var(--body-background);
    }

    main{
        padding-top: 4.5rem;
    }
    footer .flex-container{
        display: flex;
        justify-content: center;
        align-items: first baseline; /*to keep the content with the upperline/baseline*/  
        padding-bottom: 1rem;
        padding-right: 1rem;
        
    }
    footer .flex-container div{
        flex: 1; /*to make all the flex box same width so that it get centered properly*/
    }
}
/* styles for mobile */
@media (min-width: 0) and (max-width: 480px) {
    #navbar {
        flex-direction: column;
    }
    .web-only-element{
        display: none !important; /*adding important so that it takes priority over all other if any*/
    }
    #mobile-nav{
        visibility: visible;
    }
    footer{
        padding-bottom:2rem;
    }
    
}
