:root{
    --primary-silver: #bdc3c7;
    --primary-purple: #8e44ad;
    --body-background: #ecf0f1;
    --primary-purple-lighter: #9b59b6;
    --primary-purple-darker: #4f1954;
    --primary-silver-darker: #95a5a6;
    --primary-green: #27ae60;
    --primary-red: #e74c3c;
    --dark-ash: #34495e;
}
body{
    background-color:  var(--body-background);
    font-family: "Poppins", sans-serif;

}
main{
    min-height: 82vh;
}
.section-header {
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-purple);
}
#logo{
    height: 5rem;
}
#navbar{
    display: flex;
    align-items: center;
    color: var(--primary-purple);
    font-weight: bold; 
    flex-direction: row;
    justify-content: space-evenly;
}
.flex-item{
    text-align: center;
}


#navbar a{
    text-decoration: none;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    text-transform: uppercase;
}
#navbar a:hover{
    background-image: url("../img/cursor-bg.png");
    background-position: center;
    background-size: cover;
}
#navbar a:active{
    color: var(--primary-purple-darker);
}
.activated{
    background-image: url("../img/cursor-bg.png");
    background-position: center;
    background-size: cover;
    color: var(--primary-purple) !important;
}
.primary-btn{
    background-color: var(--primary-purple);
    color: white;
    padding: 1vw 1.5rem !important;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size:1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.primary-btn:hover{
    background-image: url("../img/cursor-bg.png");
    background-position: center;
    background-size: cover;
}
#mobile-nav{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--body-background);
    z-index: 1;
    visibility: hidden;
    background-color: var(--primary-purple);
}
#mobile-nav a{
    text-decoration: none;
    font-size: 3vw;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;   
}
.separator{
    border: 1px solid white;
}
.primary-btn:hover{
    cursor: pointer;    
    background-color: var(--primary-purple-lighter);
    color: var(--primary-purple);
}

footer{ 
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: var(--primary-purple);
}

@media only screen and (min-width: 481px) {
    #navbar{
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 1;
        background-color: var(--body-background);
    }
    main{
        padding-top: 4.5rem;
    }
}
@media (min-width: 0) and (max-width: 480px) {
    #navbar {
        flex-direction: column;
    }
    .web-only-element{
        visibility: hidden;
        position: absolute;
    }
    #mobile-nav{
        visibility: visible;
    }
    footer{
        padding-bottom:2rem;
    }
}