/* AUTHOR: SHIVANI SEHGAL | JULY 14, 2023 */

main {
    width: 80%;
    margin: 0 auto;
}

img{
    width: 100%;
    max-height: 300px;
    display: block;
}

h1 {
    display: flex;
}

h1 a {
    margin-right: 10px;
    text-decoration: none;
}

h1, h2, h3{
    text-transform: uppercase;
    color: var(--primary-purple);
}

h4 {
    margin: 10px 0 5px 0;
}

.flex-container{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.products a {
    text-decoration: none;
}

.product-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 25%;
    padding: 0.5rem;
    text-align: center;
    margin: 0.5rem;
}

.product-image {
    border-radius: 5px;
    min-height: 300px;
}

.product-description {
    text-align: left;
    padding: 0px 2px;
}

.product-description div {
    display: block;
}

.product-description .owner {
    display: flex;
    align-items: center;
    margin: 4px 0;
}
