
body {
    background-color:rgb(240, 237, 237);
}



.main1 {

    position: relative;

}

.h2first {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: purple;

    font-family: "Roboto,Arial,Helvetica,sans-serif"
}


