
body {
    background-color:silver
}



.main1 {

    position: relative;

}

.h2first {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: purple;
    font-weight: bold;

    font-family: "Roboto,Arial,Helvetica,sans-serif"
}


