
#about-us-header{
    background-color: var(--primary-purple);
    color: white;
    text-align: center;
    padding: 2rem;
}
#our-vision{
    text-align: center;
    padding: 1rem;
}
#our-vision p{
    text-align: justify;
}
.flex-container-team, .flex-container-team-reverse{
    display: flex;
    align-items: center;
}
.flex-container-team {
    flex-direction: row;        
}
.flex-container-team-reverse {
    flex-direction: row-reverse;        
}
.flex-item-team{
    flex: 50%;
    
}
.flex-item-team img{
    max-width: 20rem;
    border-radius: 100%;
    box-shadow: 0 15px 20px 0 rgba(30, 1, 19, 0.2);
}
.focus-text{
    color: var(--primary-purple);
}
.card{
    
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
    margin: 1rem;
    box-shadow: 0 15px 20px 0 rgba(30, 1, 19, 0.2);
}

.footer {
    margin-top: 150px;
    padding: 2rem;
    display: flex;
    color: #efefee;
    background-color:rgb(59, 59, 59);
    align-items: center;
    justify-content: space-evenly;
}


.footer div {
    text-align: center;
}

.col-1 a {
    
    text-decoration: none;
    color:white;
    margin-bottom: 12px;
    font-size:medium; 
    border-right: white;
    
}

ul {

    list-style: none;
}

form input {
    width: 300px;
    height: 35px;
    border-radius: 4px;
    text-align: center;
    margin-top:20px;
    margin-bottom: 40px;
    outline: none;
    border: none;

}

form button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;


}
@media (max-width: 481px) {
    .flex-container-team,.flex-container-team-reverse {
        flex-direction: column;
        
    }
    .footer div {
        flex-direction: column;
    }
}


/* /////////////////////////////////////////////// */

